<!DOCTYPE html>
<html lang="{{ if .Language.Lang}}{{ .Language.Lang }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		{{ .Site.Hugo.Generator }}
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="Description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
		<title>
			{{- block "title" . }}{{ .Site.Title }}{{ if and .Title (ne .Title .Site.Title) }} — {{ .Title }}{{ end }}{{ end -}}
		</title>
		<link rel="canonical" href="{{ .Permalink }}"/>
		{{- with .OutputFormats.Get "RSS" }}
		<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}"/>
		<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}"/>
		{{- end }}

		{{- block "head" . }}
		{{- partial "goimport.html" . }}
		{{- end }}
	</head>
	<body>
		<main role="main">
			<h1><a href="{{ absURL "/" }}">
					{{- with .Site.Params.logo -}}
					<img src="{{ absURL . }}" title="{{ $.Site.Title }}" alt="{{ $.Site.Title }}"/>
					{{- else -}}
					{{- $.Site.Title -}}
					{{- end -}}
				</a></h1>
			<h2>{{ partial "breadcrumbs.html" . }}</h2>
			{{- if not .IsHome }}
			{{- partial "badges.html" $ }}
			{{- $u := urls.Parse .Permalink }}
			{{- with $import := path.Join $u.Host $u.Path }}

			<pre><code class="language-go">
import (
	"{{ $import }}"
)
			</code></pre>
			{{- end }}
			{{- end }}
			{{- block "main" . }}
			{{ .Content }}
			{{- end }}
		</main>
	</body>
</html>
